.alezux-modules-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px 0;
}

.alezux-module-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.alezux-module-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--alezux-border-radius-sm);
    margin-bottom: 20px;
}

.alezux-module-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.alezux-module-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.alezux-module-excerpt {
    margin-bottom: 20px;
    flex-grow: 1;
}